.yuu-theme-dark {
    color: #f3f3f3;
    background-color: #2d3033;
}
.yuu-theme-dark .sidebar {
    background-color: #363b40;
    border-right-color: rgba(255,255,255,0.1);
}
.yuu-theme-dark .navbar {
    color: #f3f3f3;
    background-color: #2d3033;
    border-bottom-color: rgba(255,255,255,0.1);
}
.yuu-theme-dark .navbar .links {
    background-color: #2d3033;
}
.navbar {
    filter: drop-shadow(0 1px 1px #111112);
}
img[src*='#center'] { 
    display: block;
    margin: auto;
}

	

::-webkit-scrollbar {
    width: 0px;
}
